/*===========================================*/
/*	GENERAL
/*===========================================*/

a.disabled {
    color: rgba( 255 , 255 , 255 , 0.4 );
    border-color: rgba( 255 , 255 , 255 , 0.4 );
}

.home-buttons {
    margin: 5px !important;
    min-width: 140px; 
}

.about-image {
    margin-bottom: 20px;
}



/*===========================================*/
/*	MARCUS
/*===========================================*/

.intro-section {
    background-color: #F2F2F2;
}

.nc-social {
    color: #0c5587;

    a {
        color: #0c5587; 
    }
    a:hover {
        color: red !important;
    }
}

.qs-text-wrapper {
    color: #222;
    padding: 24px;
    margin: 10px auto;
    font-family: "Roboto Condensed", sans-serif;
    max-width: 640px;
    font-size: 16px;
}

.qs-text-subtitle {
    font-size: 32px;
}

.qs-icon-divider {
    text-align: center;
    padding: 20px 20px 40px 20px;
}

.nc-social {
    display: auto;
}

.qs-list {
    padding: 1rem 2rem 1.8rem 2rem;    
    margin-left: 10px;
}

.qs-centered-header {
    display: inline-block;
    width: auto;
    margin: -100px 0 20px 0;
}

.qs-mobile-only {
    display: none;
}

@media (max-width: 767px) {
    .qs-mobile-only {
        display: block;
    }
}


.qs-hide-from-mobile {

}

/* --------------- */

.embedresize {
    max-width: 560px;
    margin: auto;
}

.embedresize div {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;
    }

    .embedresize iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .intro #intro .embedresize iframe,
    .exit .quizz .embedresize iframe,
    .alreadyplayed #intro .embedresize iframe, 
    .identityset #intro .embedresize iframe, 
    #notabene .embedresize iframe, 
    #message_intro .embedresize iframe, 
    .fancybox_body .embedresize iframe, 
    #comments .embedresize iframe, 
    #description .embedresize iframe, 
    .alreadyplayed .embedresize iframe, 
    #adserver .embedresize iframe {
        max-width: none !important;
    }

/* --------------- */




/*===========================================*/
/*	DESKTOP LAYOUT 
/*===========================================*/


@media (min-width: 1200px) {
	

}
@media (min-width: 992px) and (max-width: 1199px) {
	
}

@media (min-width: 992px) {
		
}

/*===========================================*/
/*	MOBILE & TABLET COMMON
/*===========================================*/
@media (min-width: 200px) and (max-width: 991px) {
	
}


/*===========================================*/
/*	TABLET
/*===========================================*/
@media (min-width: 768px) and (max-width: 991px) {

}


/*===========================================*/
/*	MOBILE
/*===========================================*/
@media (min-width: 200px) and (max-width: 767px) {
	
}
@media (min-width: 600px) and (max-width: 767px) {
}
@media (min-width: 480px) and (max-width: 599px) {

}
@media (min-width: 200px) and (max-width: 479px) {

}
